*{
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
  text-align: center;
}

body {
  width:1060px;
  height:1000px;
  margin: 0 auto;
}

#content {
  overflow: auto;
  height: 100%
}

#feature, #footer {
  background-color: white;
  border:solid;
}

#Login, #main-table {
}

#nav{
  background-color: white;
  padding:10px;
  margin:5px;
  border:solid;
  line-height: 10px;
}

.logo {
  display: inline-block;
  float: left;
  width: 75px;
  height: 75px;
  margin-top: 30px;
  margin-left: 30px;
}

#main-title {
  color: black;
  font-family: 'VT323', monospace;
  text-align: center;
  margin: 10px;
  font-size: 100px;
  display: inline-block;
}

li{
  display: inline;
  padding: 40px;
}

#header {
  border: solid;
  background-color: #efefef;
  width:90%;
}

h1 {
  color: navy;
  position: relative;
}

#footer {
  padding:5px;
  background-color: white;
  border: solid;
  width: 90%;
}

.profile-photo {
  width: 35%;
}

fieldset {
  float: right;
  display: inline-block;
  margin-top: 30px;
  margin-right: 10px;
}
