*{
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}

body {
  margin: 0 auto;
  background-image: url("../img/annie-spratt-7928.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#content {
  overflow: auto;
  height: 100%
}

#feature, #footer {
  background-color: white;
  border:solid;
}

#Login, #main-table {
}

#nav{
  background-color: white;
  padding: 10px;
  margin: 5px;
  border: solid;
  line-height: 10px;
}

.logo {
  display: inline-block;
  float: left;
  width: 75px;
  height: 75px;
  margin-top: 30px;
  margin-left: 40px;
}

#main-title {
  color: black;
  font-family: 'VT323', monospace;
  text-align: center;
  margin: 10px;
  font-size: 100px;
  display: inline-block;
}

li{
  display: inline;
  padding: 20px;
  width: 20%;
}

#header {
  border: solid;
  background-color: #efefef;
  width:90%;
  margin: auto;
  margin-top: 30px;
  opacity: 0.9;
}

h1 {
  color: navy;
  position: relative;
}

#footer {
  padding:5px;
  background-color: white;
  border: solid;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  opacity: 0.9;
}

fieldset {
  float: right;
  display: inline-block;
  margin-top: 30px;
  margin-right: 10px;
}

.text-box {
  background-color: white;
  opacity: 0.9;
  margin: auto;
  width: 90%;
  margin-bottom: 20px;
}

.team-members {
  width: 90%;
  margin: 0 auto;
}

.ben {
  display: inline-block;
  width: 22%;
  margin: 0 auto;
}

.carlos {
  display: inline-block;
  width: 22%;
  margin: 0 auto;
}

.cameron {
  display: inline-block;
  width: 22%;
  margin: 0 auto;
}

.james {
  display: inline-block;
  width: 22%;
  margin: 0 auto;
}

#text-dragon {
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.profile-photo {
  width: 250px;
  height: 300px;
  opacity: 1;
}

div h2 {
  font-style: italic;
}

#question-image {
  display: block;
  width: 700px;
  height: 500px;

#highscore {
  margin-top: 10px;
  margin-bottom: 0px;
}

#gameover {
  font-family: 'VT323', monospace;
  color: #bf2030;
  height: 135px;
  font-size: 125px;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  opacity: 0.9;
  width: 90%;
}

#chart-background {
  background-color: white;
  opacity: 0.9;
  width: 90%;
}
